
.carousel .control-arrow {
  background: none !important;
  color: #236053 !important;
  font-size: 2rem;
  bottom: 20px; 
}


.carousel .control-prev.control-arrow,
.carousel .control-next.control-arrow {
  top: 45%;
  transform: translateY(20%);
}

.carousel .control-dots .dot{
    background: #236053;
}
